<!DOCTYPE html>
<html lang="en">

<head>
    <title>vibe.net</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/main.js" defer></script>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <h1>Vibe.net</h1>
    <div class="chat-container">
        <div>
            <ul id="messageList">
                {% for message in messages %}
                <li>{{ message|safe }}</li>
                {% endfor %}
            </ul>
            <ul id="messageList"></ul>
        </div>
    </div>
    <div class="send-message">
        <div>
            <input type="text" id="nameInput" placeholder="Your Name">
            <input type="text" id="messageInput" placeholder="Type your message">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
</body>

</html>